<section class="bar background-white academy-highlight">
  <div class="container">
    <div class="row academy-highlight__row">
      <div class="col-md-7">
        <p class="academy-highlight__eyebrow">New Recognition Program</p>
        <h2>Software Engineering Academy</h2>
        <p class="lead">
          Celebrating lasting contributions to software engineering in research, practice, and education.
        </p>
        <p>
          <a href="{{ "/academy/inaugural-class.html" | relURL }}" class="btn btn-template-main">
            View the Inaugural Class
          </a>
        </p>
      </div>
      <div class="col-md-5">
        <a href="{{ "/academy/inaugural-class.html" | relURL }}" class="academy-highlight__photos" aria-label="View the Software Engineering Academy inaugural class">
          <img src="{{ "/academy/academy-photos/mary-shaw.jpg" | relURL }}" alt="Mary Shaw">
          <img src="{{ "/academy/academy-photos/david-harel.jpg" | relURL }}" alt="David Harel">
          <img src="{{ "/academy/academy-photos/jeannette-m-wing.jpg" | relURL }}" alt="Jeannette M. Wing">
          <img src="{{ "/academy/academy-photos/elaine-weyuker.jpg" | relURL }}" alt="Elaine Weyuker">
        </a>
      </div>
    </div>
  </div>
</section>
