{{- $content := `A senior awards nomination package consists of the following.

1. The nominee's name, affiliation, and contact information.
2. The nominee's CV.
3. A proposed citation of up to 25 words.
4. A nomination statement of 500-1000 words. 
5. Names and contact information of up to three individuals who would be willing to support the nomination, each accompanied by a brief note of one or two sentences explaining the person's relationship to the nominee and what perspective they could offer.

For senior awards, supporters do not write traditional letters of recommendation.  The committee may contact them directly via email with a small set of questions.  The intention is that these will benefit from concise answers, on the order of a paragraph or two.  When inviting someone to serve as a supporter, nominators can reassure them that the time burden is expected to be quite modest if and when the committee reaches out.  Whether the committee does so is not indicative of the strength or potential success of the nominee.  The committee may also gather additional information from sources beyond the supporters suggested by the nominator.
` -}}
{{- $content | markdownify -}}
